/* General Styling */
body {
  font-family: 'Arial', sans-serif; /* Choose a widely supported font */
  line-height: 1.6;
}

/* Add this styling to your existing CSS file or create a new one */

.Main {
  margin: 20px;
}

.Home {
  text-align: center;
  margin-bottom: 20px;
}

.Table {
  margin: 20px auto;
  width: 90%;
  overflow-x: auto; /* Enable horizontal scrolling for small screens */
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th, td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

th {
  background-color: #3498db;
  color: #fff;
  text-align: center;
}

.tdcenter {
  text-align: center;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

.options {
  display: flex;
  justify-content: space-evenly;
  border: 2px;
  margin: 5px;
  padding: 1px;
  align-content: center;
}

button {
  background-color: #3498db;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #8f8f8f;
}

/* Modal Styling */
.ModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.Modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 2;
}

.ModalContent {
  width: 100%; /* Adjust as needed */
  display: grid;
  gap: 10px;
}

/* Responsive Design */
@media only screen and (max-width: 768px) {
  .Main {
      margin: 10px;
  }

  .Table {
      width: 100%;
  }

  th, td {
      font-size: 14px;
      padding: 8px;
  }

  .Modal {
      width: 80%; /* Adjust as needed */
  }
}
